.contentBackground{

     background-color: #2980B9 !important ;
     display: flex!important;
     align-content: center!important;
     align-items: center!important;
}

.bold16 {
	font-weight: bold;
	font-size: 16px;
}
//Chat Participants
// .participants-item {
// 	padding: 0;
// 	margin-bottom: 2px;
// 	.item-content {
// 		padding: 10px;
// 		h2 {
// 			font-weight: bold;
// 			color: #000;
// 		}
// 	}
// 		.image-wrap {
// 		float: left;
// 		width: 50px;
// 		height: 50px;
// 		overflow: hidden;
// 		margin-right: 10px;
// 		img {
// 			width: 100%;
// 			height: auto;
// 		}
// 	}
// }
