.html,body{

    background-color: #2980B9 !important ;
}

.contentBackground{

     background-color: #2980B9 !important ;
     display: flex!important;
     align-content: center!important;
     align-items: center!important;
}

.title{

    text-align:center;
}

.toolbar-background {
  background-color: #1a75ff
}